/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 555px;
  height: 348px;
  padding-right: 165px;
  padding-left: 165px;
  padding: 0px 78.5px;
  text-align: center;
  background-color: green;
}

.main-description {
  margin-top: 24px;
  margin-bottom: 32px;
}
