/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 1440px;
  height: 348px;
  padding-right: 165px;
  padding-left: 165px;
}
.textbox {
  width: 1440px;
  height: 348px;
  padding-right: 165px;
  padding-left: 165px;
}
